{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card" style="background-color: rgba(0,0,0,0.0) !important;">
                    <div class="card-body" style="width: 1000px;">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Ingress_Logo_vector.svg/1200px-Ingress_Logo_vector.svg.png"
                                alt="Admin" class="rounded-circle" width="150">
                            <div class="d-flex justify-content-center links">
                                <!--Añadir ruta al href. Redireccionar donde esté el insert-->
                                <button class="btn btn-primary"><a href="/listEvents" style="color: #fff;">Volver a la lista de eventos</a></button>
                            </div>
                            <div class="mt-3">
                                <table>
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre Evento</th>
                                            <th scope="col">Agente</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for agente in result %}
                                        <tr>
                                            <td>{{ event.getNameEvent() }}</td>
                                            <td>{{ agente.getAgentName() }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block footer %}
<p>Made with &#10084; by Jose Luis Lloret</p>
{% endblock %}