{% extends "base.html" %}
{% block body %}
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>¡Conéctate!</h3>
			</div>
            <!--Formulario para logearse-->
			<div class="card-body">
				<form action="/login" method="post">
                <!--Username-->
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="username" placeholder="Nombre de agente" required>
						
					</div>
                    <!--Password-->
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password" placeholder="Contraseña" required>
					</div>
                    <!--Remember-->
					<div class="row align-items-center remember">
						<input type="checkbox">Recuérdame
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
                    <!--Añadir ruta al href. Redireccionar donde esté el insert-->
					¿Aun no perteneces a Ingress?<a href="/register">Registrarse</a>
				</div>
				<div class="d-flex justify-content-center">
                    <!--Añadir ruta al href. Redireccionar para hacer un update de la contraseña-->
					<a href="#">¿Has olvidado tu contraseña?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
{% endblock %}
{% block footer %}
<p>Made with &#10084; by Jose Luis Lloret</p>
{% endblock %}